# API
ASPNETCORE_ENVIRONMENT=Development
API_PORT=5009

# PostgreSQL
POSTGRES_DB=corebanking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5439

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5056
