bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
TestResults/

project.assets.json
*.nuget.dgspec.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets

.env
.env.local
appsettings.*.json

**/Migrations/

docker-compose.override.yml
